@using Microsoft.AspNet.Identity

@model QuizFinalProject.DataBase.Models.Test
@{
    ViewBag.Title = "TestPage";
}



@using (Html.BeginForm("TestResult", "TestPage"))
{
    /// responcing to  server.
    @Html.HiddenFor(m => m.TestId)


    <div id="counter"></div>


    for (int i = 0; i < Model.Questions.Count; i++)
    {
        <p>@Model.Questions[i].QuestionText</p>

        <br />
        @Html.HiddenFor(m => m.Questions[i].QuestionId)


        for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
        {
            if (@Model.Questions[i].Answers.Count(answer1 => answer1.IsRight) > 1)
            {
                @Html.CheckBox($"Questions[{i}].Answers[{j}].IsRight", false, new { value = true }) ///Checkbox
                @Html.HiddenFor(m => m.Questions[i].Answers[j].AnswerId) ///AnswerId
                @Html.LabelFor(m => m.Questions[i].Answers[j].IsRight, Model.Questions[i].Answers[j].AnswerText) //CheckBox text

                <br />

            }
            else
            {
                @Html.RadioButtonFor(m => m.Questions[i].RightAnswerId, Model.Questions[i].Answers[j].AnswerId) ///Checkbox
                @Html.HiddenFor(m => m.Questions[i].Answers[j].AnswerId) ///AnswerId
                @Html.LabelFor(m => m.Questions[i].Answers[j].IsRight, Model.Questions[i].Answers[j].AnswerText) //CheckBox text

                <br />
            } @Html.HiddenFor(m => m.Questions[i].Answers[j].AnswerText)
        }
        <br />


    }



    <div class="bottombuttonsecurity">
        <button type="submit" id="btnSave" name="Command" value="Save" style="background-color: #3d3c4c;border-radius: 8px;color: white;padding: 5px;border: 1px solid #3d3c4c;">Save</button>
    </div>


}





@section Scripts
{
    <script type="text/javascript">
        $(function () {
            
            var defaultTimer = @Model.DurationTime.TotalSeconds,
                callback = function () {
                    
                    alert("You are run out of time");
                    window.location.href = '/Account/Login';

                    return;
                };

            var counter = 1, timer,
                match = document.location.href.match(/[\?|&]timer=(\d+)/i),
                totalTime = match ? match[1] : defaultTimer;
            var s;
            timer = setInterval(function () {
                if (totalTime != -1 && !isNaN(totalTime)) {
                    val = 'Remaining time: ' + (function () {
                        var m = Math.floor(totalTime / 60);
                        if (m < 10) {
                            return '0'.concat(m);
                        }
                        else {
                            return m;
                        }
                    })() + ':' + (function () {
                        s = totalTime % 60;
                        if (s < 10) {
                            return '0'.concat(s);
                        }
                        else {
                            return s;
                        }
                    })();

                    $('#counter').html(val);
                    totalTime--;
                }
                else {
                    window.clearInterval(timer);
                    timer = null;
                    callback();
                }
            }, 1000);
        });

    </script>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")





