
@using Microsoft.AspNet.Identity

@model QuizFinalProject.DataBase.Models.Test
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.TestId)


    for (int i = 0; i < Model.Questions.Count; i++)
    {
        <p>@Model.Questions[i].QuestionText</p>

        <br />
        @Html.HiddenFor(m => m.Questions[i].QuestionId)


        for (int j = 0; j < Model.Questions[i].Answers.Count; j++)
        {
            if (@Model.Questions[i].Answers.Count(answer1 => answer1.IsRight) > 1)
            {
                @Html.CheckBoxFor(m => m.Questions[i].Answers[j].IsRight) ///Checkbox
                @Html.HiddenFor(m => m.Questions[i].Answers[j].AnswerId) ///AnswerId
                @Html.LabelFor(m => m.Questions[i].Answers[j].IsRight, Model.Questions[i].Answers[j].AnswerText) //CheckBox text

                <br />

            }
            else
            {
                @Html.RadioButtonFor(m => m.Questions[i].RightAnswerId, Model.Questions[i].Answers[j].AnswerId) ///Checkbox
                @Html.HiddenFor(m => m.Questions[i].Answers[j].AnswerId) ///AnswerId
                @Html.LabelFor(m => m.Questions[i].Answers[j].IsRight, Model.Questions[i].Answers[j].AnswerText) //CheckBox text

                <br />
            }
            @Html.HiddenFor(m => m.Questions[i].Answers[j].AnswerText)



        }
        @Html.ActionLink("Update", "Update", "AdminPage", new { id = Model.TestId }, new { @class = " btn btn-primary btn-sm" })

        <br />


    }
    @Html.ActionLink("Back to List", "Index", "AdminPage", new { @class = " btn btn-primary btn-sm" })
}

